<nav class="block px-[3.5rem] w-8/12 border-black/5 border-y-4">
    <ul class="grid grid-cols-4 group">
        <li class="text-center font-bold transform duration-500 hover:text-white hover:scale-[105%] cursor-pointer text-xl py-4 text-white/90">
            <a href="{% url 'home' %}" class="">
                Home
            </a>
        </li>
        <li class="text-center font-bold transform duration-500 hover:text-white hover:scale-[105%] cursor-pointer text-xl py-4 text-white/90 border-l-4 border-black/5">
            <a href="{% url 'posts' %}" class="">
                Posts
            </a>
        </li>
        <li class="text-center font-bold transform duration-500 hover:text-white hover:scale-[105%] cursor-pointer text-xl py-4 text-white/90 border-l-4 border-black/5">
            <a href="/about" class="">
                About
            </a>
        </li>
        <li class="text-center font-bold transform duration-500 hover:text-white hover:scale-[105%] cursor-pointer text-xl py-4 text-white/90 border-l-4 border-black/5">
            <a href="/contact" class="">
                Contact
            </a>
        </li>
    </ul>
</nav>