{% extends "_base.html" %}
{% block extra_head %}{{ form.media }}{% endblock %}
{% block title %}{{ block.super }} | Posts{% endblock %}
{% block content %}
    <form action="" method="POST">
    {% csrf_token %}
        {{ form.as_ul }}
        <input type="submit" value="Create" class="inline-block bg-green-600 px-10 py-3 text-center text-white font-bold rounded-xl cursor-pointer hover:bg-green-500 duration-500">
    </form>
    <hr>
    <div class="w-8/12 mt-5 px-[3.5rem] grid grid-cols-4 gap-6 text-xl text-black/20% duration-700 transition-[font-weight] list-decimal">
        {% for post in posts %}
            {% include "component/post.html" with title=post.title author=post.author.username content=post.content|safe id=post.id %}
        {% endfor %}
    </div>
{% endblock %}